# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# OS / tmp
*.tmp
*.bak
*.log
Thumbs.db

# Protobuf / generated code
*.pb.go
*.pb.cc
*.pb.h
*.pb.py
build/
dist/
gen/

# Python
__pycache__/
*.pyc
*.pyo

# Buf
.buf/
.buf-cache/
